<footer>
  <div class="row">
    <div class="column">
      <a href="#top">Back to top</a>
    </div>
  </div>

  <%= render Persona.SharedView, "nav_links.html" %>

  <div class="row">
    <div class="column">By Peter Banjo</div>
  </div>
  <!-- /.ui.container -->
</footer>