<nav role="navigation">
  <ul role="menu">
    <li role="menuitem">
      <a href="#about">About</a>
    </li>
    <li role="menuitem">
      <a href="#projects">Projects</a>
    </li>
    <li role="menuitem">
      <a href="/Persona">Persona</a>
    </li>
  </ul>
</nav>